// CALENDAR
.calendar-home{
    margin-top:10px;
  }
  .header-calendar{
    padding: 5px;
      background: #066D6F;
      color: white;
      display: flex;
      justify-content: center;
      border-radius: 10px 10px 0px 0px;
  
    i{
      margin:0px 20px;
    }
  }
  .days{
    display: flex;
      justify-content: space-between;
      background: #20B0B3;
      color: white;
      padding: 8px;
  }
  .content-calendar{
    background: #e6e6e6;
    height: 150px;
  }