<header>
    <nav fxLayout="row">

        <div fxFlex="10">
            <div class="row center-xs middle-xs items-nav">
                <div class="col-xs-12">
                    <img id="logo" src="assets/img/logo/logo.png" (click)="redirectHome()" width="46px" alt="">
                </div>

            </div>
        </div>
        <div fxFlex="40" fxFlex.lt-sm="20">
            <div class="row start-xs middle-xs items-nav">
                    <mat-form-field class="input-search-header" fxHide.lt-sm >
                        <input type="tel" matInput placeholder="Buscar en Publiguarne...">
                        <mat-icon matSuffix>search</mat-icon>

                    </mat-form-field>
                    <mat-icon matSuffix fxHide.gt-xs>search</mat-icon>
            </div>
        </div>
        <div fxFlex="40" fxFlexOffset.gt-md="20" fxFlex.lt-sm="60">
            <div class="nav-icons">
                <div class="nav-menu-icon">
                    <a [routerLink]="[ '/podcasts' ]">
                    <mat-icon>radio</mat-icon>
                </a>
                </div>
                <div class="nav-menu-icon">
                    <a [routerLink]="[ '/eventos' ]">
                    <i class="fas fa-calendar-alt"></i>
                    </a>
                </div>
                <div class="nav-menu-icon">
                    <mat-icon [matMenuTriggerFor]="menu">live_tv</mat-icon>      
                        <mat-menu #menu="matMenu" class="mat-menu-live" xPosition="before">
                          <div class="header-menu-live">
                              1 Nuevo <br>
                              Video en vivo
                          </div>
                          <div class="item-menu-live d-flex a-items-center j-content-se">
                            <div class="photo-menu-live">
                                foto
                            </div>
                            <div class="description-menu-live">
                                <b>¡Nuevo video en vivo!</b>
                                <p>Conociendo el talento de Publiguarne</p>
                            </div>
                        </div>
                        </mat-menu>
                </div>
                <div class="nav-menu-icon">
                    <mat-icon>notifications</mat-icon>
                </div>
                <div class="nav-menu-icon">
                    <i class="fas fa-comments"></i>
                </div>
            </div>
        </div>
        <div class="profile" fxFlex="10">
            <img  src="assets/img/profile.png" alt="">
            <p [matMenuTriggerFor]="menu_profile" fxHide.lt-lg>BRK</p>
            <!-- <mat-icon  fxHide.lt-md>expand_more</mat-icon> -->
            <mat-menu #menu_profile="matMenu">
                <a mat-menu-item routerLink="/perfil/usuario">Perfil</a>
                <a mat-menu-item>Convertirme en Oficina</a>
                <a mat-menu-item>Cerrar sesión</a>
            </mat-menu>
        </div>

    </nav>
</header>
