@import "../../../theme/vars.scss";
header {
  box-shadow: 0px 3px 6px #00000029;
}
nav {
  background: $primary;
  height: 64px;
}
.items-nav {
  height: 100%;
}
input[type="text"] {
  background: #08797b;
  border: 0;
  width: 80%;
  border-radius: 10px;
  padding: 10px 10px;
  font-family: "Raleway-Light";
  color: white;
}

.icon-input {
  margin-bottom: -32px;
  mat-icon {
    z-index: 2;
  }
}
.nav-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  color: white;
  border-left: 1px solid #08797b;
  mat-icon {
    cursor: pointer;
  }
}
#logo {
  cursor: pointer;
}
.profile {
  display: flex;
  align-items: center;
  img,
  p {
    margin-left: 26px;
  }
  p,
  mat-icon {
    color: white;
  }
  mat-icon {
    cursor: pointer;
  }
}
mat-form-field {
  width: 80%;
  background: #08797b;
  padding: 3px 10px;
  border-radius: 10px;
  color: white;
}
// NG DEEP
::ng-deep .mat-form-field-label {
  color: white !important;
}
::ng-deep .mat-form-field-infix {
  border: 0;
}
::ng-deep .mat-form-field-flex {
  display: flex !important;
  align-items: center !important;
}
::ng-deep .mat-form-field-underline {
  height: 0px !important;
  width: 0px !important;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
i{
  font-size: 22px;
}
mat-icon{
  font-size: 24px;
}