<header>
    <nav class="row">

        <div class="col-xs-1">
            <div class="row center-xs middle-xs items-nav">
                <div class="col-xs-12">
                    <img src="assets/img/logo/logo.png" width="46px" alt="">
                </div>

            </div>
        </div>
        <div class="col-xs-5 col-md-6">
            <div class="row start-xs middle-xs items-nav">
                <div class="col-xs-12">
                    <div class="icon-input">
                        <mat-icon>search</mat-icon>
                    </div>
                    <input type="text" placeholder="Buscar en Publiguarne...">
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="nav-icons">
                <div class="nav-menu-icon">
                    <mat-icon>radio</mat-icon>
                </div>
                <div class="nav-menu-icon">
                    <mat-icon>insert_invitation</mat-icon>
                </div>
                <div class="nav-menu-icon">
                    <mat-icon>live_tv</mat-icon>
                </div>
                <div class="nav-menu-icon">
                    <mat-icon>notifications</mat-icon>
                </div>
                <div class="nav-menu-icon">
                    <mat-icon>question_answer</mat-icon>
                </div>
            </div>
        </div>
        <div class="col-xs-2 profile">
            <img src="assets/img/profile.png" alt="">
            <p>BRK</p>
            <mat-icon>expand_more</mat-icon>
        </div>

    </nav>
</header>