<header>
    <nav class="row">

        <div class="col-xs-1">
            <div class="row center-xs middle-xs items-nav">
                <div class="col-xs-12">
                    <img id="logo" src="assets/img/logo/logo.png" (click)="redirectHome()" width="46px" alt="">
                </div>

            </div>
        </div>
        <div class="col-xs-5 col-md-6">
            <div class="row start-xs middle-xs items-nav">
                <div class="col-xs-12">
                    <mat-form-field class="example-full-width">
                        <input type="tel" matInput placeholder="Buscar en Publiguarne...">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="nav-icons">
                <div class="nav-menu-icon">
                    <a [routerLink]="[ '/podcasts' ]">
                    <mat-icon>radio</mat-icon>
                </a>
                </div>
                <div class="nav-menu-icon">
                    <a [routerLink]="[ '/eventos' ]">
                    <i class="fas fa-calendar-alt"></i>
                    </a>
                </div>
                <div class="nav-menu-icon">
                    <mat-icon>live_tv</mat-icon>
                </div>
                <div class="nav-menu-icon">
                    <mat-icon>notifications</mat-icon>
                </div>
                <div class="nav-menu-icon">
                    <i class="fas fa-comments"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-2 profile">
            <img src="assets/img/profile.png" alt="">
            <p>BRK</p>
            <mat-icon [matMenuTriggerFor]="menu">expand_more</mat-icon>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/perfil">Perfil</a>
                <a mat-menu-item>Convertirme en Oficina</a>
                <a mat-menu-item>Cerrar sesión</a>
            </mat-menu>
        </div>

    </nav>
</header>