<div class="container-auth">
    <div class="row-container row center-xs middle-xs">
        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-4">
            <div class="card">
                <mat-card-title>
                    Cambiar contraseña
                </mat-card-title>
                <ng-container>
                    <form [formGroup]="form" (ngSubmit)="login()" >
                        <div class="form-control">
                            <label>Usuario ó correo electrónico *</label>
                            <input class="input-login-root" type="text" formControlName="email" required
                                placeholder="Ingresa tu usuario ó correo electrónico">
                            <mat-error *ngIf="form.get('email').hasError('email') && form.get('email').touched">Ingresa
                                un email valido
                            </mat-error>
                            <mat-error *ngIf="form.get('email').hasError('required') && form.get('email').touched">El
                                email es obligatorio
                            </mat-error>
                        </div>
                        <div class="form-control form-password">
                            <label>Nueva contraseña *</label>
                            <div class="icon-input">
                                <span class="icon-eye-off" (click)="showPassword()"><img
                                        src="assets/img/svg/icon-eye-off.svg" alt=""></span>
                            </div>
                            <input class="input-login-root" formControlName="password" required
                                [type]="fieldTextType ? 'text' : 'password'" placeholder="Ingresa tu contraseña">
                            <mat-error
                                *ngIf="form.get('password').hasError('required') && form.get('password').touched">La
                                contraseña es obligatoria
                            </mat-error>
                        </div>
                        <div class="form-control form-password">
                            <label>Repetir contraseña *</label>
                            <div class="icon-input">
                                <span class="icon-eye-off" (click)="showPassword()"><img
                                        src="assets/img/svg/icon-eye-off.svg" alt=""></span>
                            </div>
                            <input class="input-login-root" formControlName="password" required
                                [type]="fieldTextType ? 'text' : 'password'" placeholder="Ingresa tu contraseña">
                            <mat-error
                                *ngIf="form.get('password').hasError('required') && form.get('password').touched">La
                                contraseña es obligatoria
                            </mat-error>
                        </div>
                        <div class="submit">
                            <button mat-raised-button color="primary" [disabled]="!form.valid"
                                type="submit">Ingresar</button>
                        </div>
                        <!-- <div>
                            <pre>
                {{form.status | json}}
                {{form.value | json}}
              </pre>
                        </div> -->
                    </form>
                </ng-container>
            </div>
        </div>
    </div>

</div>