@import "~src/assets/style/vars.scss";
.item-menu{
    font-family: 'Raleway-Regular';
    text-align: center;
    padding: 0px 12px;
    mat-icon{
        cursor:pointer;
    }
    a{
        text-decoration: none;
        color: #2D2D2D;
        cursor:pointer;
    }
}
.row{
    margin:20px 0px;
}

.menu-selected{
    border-bottom: 3px solid $primary;
    a{
        p{
            color:$primary;
            font-weight: 900;
        }
    }
}
.container-menu{
    overflow: auto;
    margin: 20px;
}