<div class="container-list-directory">
    <div  fxLayout="row">
        <div  fxFlex="80">
        <mat-form-field class="mat-form-field-list-directory">
            <input type="text" matInput  placeholder="¿Qué estas buscando?">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

        <div class="search-button" fxFlex="20">
            <button mat-raised-button color="accent">Buscar</button>
        </div>
    </div>
    <div class="list-directory" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="card card-directory">
            <div class="card-header d-flex a-items-center j-content-ss">
                <img src="assets/img/Foto-Ag70.png" alt="">
                <div class="title">
                    <h3>Agropecuaria García</h3>
                    <p>Barrio los Colores - Medellín</p>
                </div>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor</p>
            </div>
            <div class="social-networks d-flex j-content-se a-items-center">
                <div class="icon-ws d-flex j-content-center">
                    <i class="fab fa-whatsapp"></i>
                </div>
                <div class="icon d-flex j-content-center">
                    <i class="fas fa-phone-alt"></i>
                </div>
                <div class="icon d-flex j-content-center">
                    <div class="icons-items d-flex j-content-se a-items-center">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-telegram-plane"></i>
                    </div>
                </div>
                <div class="icon d-flex j-content-center">
                    <i class="far fa-envelope"></i>
                </div>
            </div>
        </div>
        <div class="card card-directory">
            <div class="card-header d-flex a-items-center j-content-ss">
                <img src="assets/img/Foto-Ag70.png" alt="">
                <div class="title">
                    <h3>Agropecuaria García</h3>
                    <p>Barrio los Colores - Medellín</p>
                </div>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor</p>
            </div>
            <div class="social-networks d-flex j-content-se a-items-center">
                <div class="icon-ws d-flex j-content-center">
                    <i class="fab fa-whatsapp"></i>
                </div>
                <div class="icon d-flex j-content-center">
                    <i class="fas fa-phone-alt"></i>
                </div>
                <div class="icon d-flex j-content-center">
                    <div class="icons-items d-flex j-content-se a-items-center">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-telegram-plane"></i>
                    </div>
                </div>
                <div class="icon d-flex j-content-center">
                    <i class="far fa-envelope"></i>
                </div>
            </div>
        </div>
    </div>
</div>