@import "~src/assets/style/vars.scss";
// list directory
.list-directory {
  margin-top: 30px;
  flex-wrap: wrap;
}
.description {
  text-align: left;
  padding: 12px;
  
}
input[type="text"] {
  background: #f5f5f5;
  border: 0;
  width: 80%;
  border-radius: 10px;
  padding: 3px 3px;
  font-family: "Raleway-Light";
}

::ng-deep .mat-form-field-list-directory {
  span {
    label{
  color: #c9c9c9 !important;
   }
 }
  width: 90%;
  background: #f5f5f5;
  padding: 3px 10px;
  border-radius: 10px;
  

  
   .mat-form-field-infix {

    border: 0;
  }
   .mat-form-field-flex {
    display: flex !important;
    align-items: center !important;
  }
   .mat-form-field-underline {
    height: 0px !important;
    width: 0px !important;
  }
   .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
  
}
mat-icon {
  color: #c9c9c9;
}
.search-button {
  width: 20%;
  button {
    border-radius: 10px;
    width: 100%;
    color: white;
    font-family: "Raleway-Regular";
  }
}
.container-list-directory {
  margin-top: 24px;
}
.card-directory {
  box-shadow: 0px 0px 5px #00000029;
  width: 44%;
  padding: 10px;
  margin-bottom: 16px;
  // margin: 15px 10px 5px 0px;
}
.title{
  h3{
    margin:8px;
  }
}
p {
  margin: 0;
}
img {
  margin-right: 20px;
}
.social-networks {
  margin-top: 12px;
}
.icon {
  color: $secondary;
  background: $primary;
}
.fa-facebook-f {
  background: #1876f2;
}
i {
  cursor: pointer;
}
.fa-facebook-f,
.fa-instagram,
.fa-telegram-plane {
  font-size: 14px;
  padding: 4px;
  border-radius: 50%;
  color: white;
}
.fa-telegram-plane {
  background: #2ba0d9;
}
.fa-instagram {
  background: transparent linear-gradient(180deg, #556de8 0%, #f83843 100%) 0%
    0% no-repeat padding-box;
}
.icons-items {
  height: 30px;
  flex-wrap: wrap;
  width: 100%;
}
.icon-ws,
.icon {
  width: 20%;
  font-size: 30px;
  padding: 10px 2px;
  border-radius: 10px;
}
.icon-ws {
  color: white;
  background: #05d936;
}


@media (max-width: 1024px) {
  .card-directory {
    width:100%;
  }
}

