@import "~src/assets/style/vars.scss";
.container-search{
    margin:16px 0px;
}
::ng-deep .card-search{
    margin:16px 0px;
    padding: 20px  0px !important;
    mat-card-header{
        font-family: 'Raleway-Bold';
    }
}
.img-text{

    img{
        margin-right: 10px;
    }
}
.card-search-content{
    margin:16px 0px;
    padding:16px;
    border-top: 1px solid rgb(231, 231, 231) ;
}
.icon-plus{
    i{
        font-size: 22px;
        color:$secondary;
    }
}
.description{
    p{
        margin: 1px;
        color: #BCBCBC;
    }
    
}