<div class="container-auth">
    <div class="row-container row center-xs middle-xs">
        <div class="col-xs-10 col-sm-7 col-md-6 col-lg-4">
            <div class="card">
                <mat-card-title>
                    Iniciar sesión
                </mat-card-title>
                <mat-card-content>
                            <form class="form-login">
                                <div class="form-control">
                                    <label for="">Usuario ó correo electrónico *</label>
                                    <input type="text" placeholder="Ingresa tu usuario ó correo electrónico">
                                </div>
                                <div class="form-control form-password">
                                    <label for="">Contraseña *</label>
                                    <div class="icon-input">
                                        <span class="icon-eye-off"><img src="assets/img/svg/icon-eye-off.svg"
                                                alt=""></span>
                                    </div>
                                    <input type="password" placeholder="Ingresa tu contraseña">
                                </div>
                                <div class="form-remember">
                                    <div>
                                        <input type="checkbox">
                                        <span>Recordar datos</span>
                                    </div>
                                    <div class="forgot-password">
                                        <a color='primary'>Olvidé mi contraseña</a>
                                    </div>
                                </div>
                                <div class="submit">
                                    <button mat-raised-button color="primary">Ingresar</button>
                                </div>
                                <div class="register">
                                    ¿Quieres ser parte de Publiguarne? <a [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >Registrate</a>
                                </div>
                            </form>
                            <div class="social-networks-login">
                                <div class="circle">
                                    ó
                                </div>
                                <div class="social-text">
                                    <p>Inicia sesión con tus plataformas sociales</p>
                                    <div class="social-icons">
                                        <img src="assets/img/svg/google.svg">
                                        <img src="assets/img/svg/facebook.svg">
                                        <img src="assets/img/svg/instagram.svg">
                                        <img src="assets/img/svg/twitter.svg">
                                    </div>
                                </div>
                            </div>
                </mat-card-content>
            </div>
        </div>
    </div>

</div>