<div class="container-auth">
    <div class="row-container row center-xs middle-xs">
        <div class="col-xs-9 col-sm-7 col-md-6 col-lg-4">
            <mat-card class="card">
                <mat-card-title>
                    Iniciar sesión como:
                </mat-card-title>
                <mat-card-content>
                    <mat-tab-group  [color]="'warn'">
                        <mat-tab label="Oficina virtual"> Content 1 </mat-tab>
                        <mat-tab label="Perfil personal"> Content 2 </mat-tab>
                      </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
   
</div>