<div class="menu d-flex f-direction-c">
    <ng-container *ngFor="let item of navigation">
        <div class="menu-item title-menu" [routerLinkActive]="[item.activeLink]">
            <a [routerLink]="item.url">
                <h3>{{item.title}}</h3>
            </a>
        </div>
        <div *ngFor="let group of item.children">
            <div class="container-group">
                <div class="menu-item d-flex" [routerLinkActive]="[group.activeLink]">
                    <img [src]="group.icon" alt="">
                    <a [routerLink]="group.url">
                        <h4>{{group.title}}</h4>
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
</div>