<div class="menu d-flex f-direction-c">
    <div class="menu-item" routerLinkActive="active-bg">
        <a routerLink='/home'>
            <h3>Directorio</h3>
        </a>
    </div>
    <div class="menu-item" routerLinkActive="active-bg">
        <a routerLink='/virtual-office'>
            <h3>Oficina Virtual</h3>
        </a>
    </div>
    <div class="group-item d-flex">
        <img src="assets/img/sidenav/agro.png" alt="">
        <a>
            <h4>Agro</h4>
        </a>
    </div>
    <div class="group-item d-flex">
        <img src="assets/img/sidenav/alimento-y-bebida.png" alt="">
        <a>
            <h4>Alimentos y bebidas</h4>
        </a>
    </div>
    <div class="group-item d-flex">
        <img src="assets/img/sidenav/mascotas.png" alt="">
        <a>
            <h4>Animales y mascotas</h4>
        </a>
    </div>
    <div class="group-item d-flex">
        <img src="assets/img/sidenav/papeleria.png" alt="">
        <a>
            <h4>Papelerías</h4>
        </a>
    </div>
    <div class="group-item d-flex">
        <img src="assets/img/sidenav/servicios-publicos.png" alt="">
        <a>
            <h4>Servicios públicos</h4>
        </a>
    </div>
    <div class="group-item d-flex">
        <img src="assets/img/sidenav/belleza.png" alt="">
        <a>
            <h4>Belleza y cuidado personal</h4>
        </a>
    </div>
    <div class="group-item d-flex">
        <img src="assets/img/sidenav/tecnologia.png" alt="">
        <a>
            <h4>Tecnología</h4>
        </a>
    </div>
    <div class="group-item d-flex">
        <img src="assets/img/sidenav/auto.png" alt="">
        <a>
            <h4>Vehículos</h4>
        </a>
    </div>
    <div class="menu-item">
        <a routerLink='/virtual-office'>
            <h3>Clasificados</h3>
        </a>
    </div>
    <div class="menu-item">
        <a routerLink='/virtual-office'>
            <h3>Labor social</h3>
        </a>
    </div>

</div>