<div class="header-dialog d-flex a-items-center j-content-fe">
    <i class="far fa-times-circle" (click)="close()"></i>
</div>
<!-- <form>-->
    <div class="row">
        <div class="col-xs-6 d-flex f-direction-c photo-live text-a-center">
            foto
        </div>
        <div class="col-xs-6">
            <div class="product-price">
                <h3>Apartamento a estrenar</h3>
                <b>25.000 COP</b>
            </div>
        <div class="description-buy-product">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum</p>
        </div>
        <div id="text-gray">¿Te interesa? Contacta al vendedor</div>
            <div class="btn-save d-flex j-content-center">
                <button mat-raised-button class="btn-publiguarne-secondary"><i class="fas fa-phone-alt"></i>Llamar +57 22152369</button>
            </div>
            <div class="btn-save d-flex j-content-center">
                <button mat-raised-button class="btn-publiguarne-secondary ws"><i class="fab fa-whatsapp"></i>WhatsApp</button>
            </div>
        </div>
    </div>

<!-- <f/orm>-->
