@import "~src/assets/style/vars.scss";
.title-card-podcasts{
    font-family: 'Raleway-Bold';
}
.description-podcasts{
    font-family: 'Raleway-Light';
}
.card-podcasts{
    color: white;
    width:26%;
    text-align: center;
    background: $primary;
    margin-bottom: 20px;
    padding: 18px;
    border-radius: 20px;
    min-width: 300px;
}
.container-cards-podcasts{
    flex-wrap: wrap;
}