<div class="row">
    <div class="col-xs-12 banner">
        <div class="title">
            <h1>Planes, Preguntas frecuentes y Soporte</h1>
        </div>
    </div>
</div>
<div class="container-plans-questions">
    <div class="row">
        <div class="col-xs-12 title-plans">
            <h2>Planes</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 card-plans">
            <mat-card>
                <div class="content">
                    <div class="level-plan d-flex j-content-center">
                        <b>Básico</b>
                    </div>
                    <div class="description-plan text-a-center">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                    </div>
                    <div class="price-plan d-flex j-content-center">
                        <div class="dollar">
                            $
                        </div>
                        <div class="number-price">
                            0
                        </div>
                        <div class="amonth d-flex a-items-center">
                            AL<br>mes
                        </div>
                    </div>
                </div>
                <div class="plan-benefits">
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-xs-12 col-md-4 card-plans">
            <mat-card>
                <div class="content">
                    <div class="level-plan d-flex j-content-center">
                        <b>Estandar</b>
                    </div>
                    <div class="description-plan text-a-center">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                    </div>
                    <div class="price-plan d-flex j-content-center">
                        <div class="dollar">
                            $
                        </div>
                        <div class="number-price">
                            0
                        </div>
                        <div class="amonth d-flex a-items-center">
                            AL<br>mes
                        </div>
                    </div>
                </div>
                <div class="plan-benefits">
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-xs-12 col-md-4 card-plans">
            <mat-card>
                <div class="content">
                    <div class="level-plan d-flex j-content-center">
                        <b>Premium</b>
                    </div>
                    <div class="description-plan text-a-center">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                    </div>
                    <div class="price-plan d-flex j-content-center">
                        <div class="dollar">
                            $
                        </div>
                        <div class="number-price">
                            0
                        </div>
                        <div class="amonth d-flex a-items-center">
                            AL<br>mes
                        </div>
                    </div>
                </div>
                <div class="plan-benefits">
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="items-plans text-a-center">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 ">
            <button mat-raised-button class="btn-adquirir" color="primary">Adquirir</button>
        </div>
        <div class="col-xs-12 col-md-4 ">
            <button mat-raised-button class="btn-adquirir" color="primary">Adquirir</button>
        </div>
        <div class="col-xs-12 col-md-4 ">
            <button mat-raised-button class="btn-adquirir" color="primary">Adquirir</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="questions">
                <h2>Preguntas frecuentes</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.</p>
            </div>
        </div>
    </div>
    <div class="questions-items-container">
    <div class="row quiestions-item a-items-center">
        <div class="col-xs-1 d-flex j-content-center">
            <i class="fas fa-question-circle"></i>
        </div>
        <div class="col-xs-10">
            Lorem ipsum dolor sit amet, consetetur sadipscing
        </div>
        <div class="col-xs-1">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="row quiestions-item a-items-center">
        <div class="col-xs-1 d-flex j-content-center">
            <i class="fas fa-question-circle"></i>
        </div>
        <div class="col-xs-10">
            Lorem ipsum dolor sit amet, consetetur sadipscing
        </div>
        <div class="col-xs-1">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="row quiestions-item a-items-center">
        <div class="col-xs-1 d-flex j-content-center">
            <i class="fas fa-question-circle"></i>
        </div>
        <div class="col-xs-10">
            Lorem ipsum dolor sit amet, consetetur sadipscing
        </div>
        <div class="col-xs-1">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="row quiestions-item a-items-center">
        <div class="col-xs-1 d-flex j-content-center">
            <i class="fas fa-question-circle"></i>
        </div>
        <div class="col-xs-10">
            Lorem ipsum dolor sit amet, consetetur sadipscing
        </div>
        <div class="col-xs-1">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="row quiestions-item a-items-center">
        <div class="col-xs-1 d-flex j-content-center">
            <i class="fas fa-question-circle"></i>
        </div>
        <div class="col-xs-10">
            Lorem ipsum dolor sit amet, consetetur sadipscing
        </div>
        <div class="col-xs-1">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="row quiestions-item a-items-center">
        <div class="col-xs-1 d-flex j-content-center">
            <i class="fas fa-question-circle"></i>
        </div>
        <div class="col-xs-10">
            Lorem ipsum dolor sit amet, consetetur sadipscing
        </div>
        <div class="col-xs-1">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="row quiestions-item a-items-center">
        <div class="col-xs-1 d-flex j-content-center">
            <i class="fas fa-question-circle"></i>
        </div>
        <div class="col-xs-10">
            Lorem ipsum dolor sit amet, consetetur sadipscing
        </div>
        <div class="col-xs-1">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="row quiestions-item a-items-center">
        <div class="col-xs-1 d-flex j-content-center">
            <i class="fas fa-question-circle"></i>
        </div>
        <div class="col-xs-10">
            Lorem ipsum dolor sit amet, consetetur sadipscing
        </div>
        <div class="col-xs-1">
            <i class="fas fa-plus"></i>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="support-text">
                <h2>Soporte</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.</p>
            </div>
        </div>
    </div>
    <form>
    <div class="row">
        <div class="col-xs-6">
            <ng-container class="mat-form-field">
                <label>Nombre y Apellido *</label><br>
                <input type="text" class="input-login-root" placeholder="Ingresa tu nombre y apellido" required>
            </ng-container>
        </div>
        <div class="col-xs-6">
            <ng-container class="mat-form-field">
                <label>Dirección del correo electrónico *</label><br>
                <input type="email" class="input-login-root" placeholder="Ingresa tu correo electrónico *" required>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <ng-container class="mat-form-field">
                <label>Teléfono con WhatsApp *</label><br>
                <input type="tel" class="input-login-root" placeholder="Ingresa tu teléfono con WhatsApp" required>
            </ng-container>
        </div>
        <div class="col-xs-6">
            <ng-container class="mat-form-field">
                <label>Teléfono movil o fijo *</label><br>
                <input type="tel" class="input-login-root" placeholder="Ingresa tu Teléfono movil o fijo" required>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <ng-container class="mat-form-field">
            <label>Mensaje *</label><br>
            <textarea  class="input-login-root"> </textarea>
        </ng-container>
        
    </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-10 col-xs-2">
            <button class="btn-send" mat-raised-button color="primary">Enviar</button>
        </div>
    </div>
</form>
</div>