<div class="header-dialog d-flex a-items-center j-content-fe">
    <i class="far fa-times-circle" (click)="close()"></i>
</div>
    <div class="row">
<div class="col-xs-12">
    <div *ngIf="action =='calification'; then calificationBlock else commentBlock"></div>
    <ng-template #calificationBlock><h2 class="text-a-center">¡Gracias por recomendarnos!</h2></ng-template>
    <ng-template #commentBlock><b>PubliGuarne</b> busca que tu experiencia sea extraordinaria, es por eso que tu comentario es enviado directamente al proveedor. Ellos se pondrán en contacto contigo. En caso de no recibir respuesta puedes enviarnos tu comunicación a publiguarne@gmail.com.</ng-template>

</div>
    </div>
    <div class="d-flex j-content-center">
        <button mat-raised-button class="btn-publiguarne-primary">Continuar</button>
    </div>

