<div class="content-dialog">
    <div class="header-dialog d-flex a-items-center j-content-fe">
        <i class="far fa-times-circle" (click)="close()"></i>
    </div>
    <h3>VIII Foro Nacional de Voluntariado y Responsabilidad Social</h3>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <b id="by-event">Por Emiliano Pernia</b> <br>
    <div class="info-right">
        <div class="social-networks d-flex j-content-se a-items-center">
            <div class="icon-ws d-flex j-content-center">
                <i class="fab fa-whatsapp"></i>
            </div>
            <div class="icon icon-fb d-flex j-content-center">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="icon icon-ig d-flex j-content-center">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="icon icon-telegram d-flex j-content-center">
                <div class="icons-items d-flex j-content-se a-items-center">
                    <i class="fab fa-telegram-plane"></i>
                </div>
            </div>
       
        </div>
</div>
    <div class="btn-event d-flex j-content-center">
        <button mat-raised-button class="btn-publiguarne-secondary"><i class="fas fa-user-check"></i> Asistir al evento</button>

    </div>
</div>