<div class="container-events">
    <div class="row">
        <div class="col-xs-2">
            <h2>Eventos</h2>
        </div>
    </div>
    <div class="container-cards d-flex j-content-sb">
            <div class="card-event">
                <div class="img-card" [ngStyle]="{'background': 'url('+a+')'}">

                    <!-- <img  src="assets/img/eventos.png" alt=""> -->
                </div>
        
            <div class="description-card">
            <div class="hour-card">
                JUE., 24 de SEP., a las 10:30am
            </div>
           <div class="text-description">
                VIII Foro Nacional de Voluntariado y Responsabilidad Social
            </div>
                <div class="arrow-description d-flex j-content-fe">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
            <div class="card-event">
                <div class="img-card" [ngStyle]="{'background': 'url('+a+')'}">

                    <!-- <img  src="assets/img/eventos.png" alt=""> -->
                </div>
        
            <div class="description-card">
            <div class="hour-card">
                JUE., 24 de SEP., a las 10:30am
            </div>
           <div class="text-description">
                VIII Foro Nacional de Voluntariado y Responsabilidad Social
            </div>
                <div class="arrow-description d-flex j-content-fe">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
            <div class="card-event">
                <div class="img-card" [ngStyle]="{'background': 'url('+a+')'}">

                    <!-- <img  src="assets/img/eventos.png" alt=""> -->
                </div>
        
            <div class="description-card">
            <div class="hour-card">
                JUE., 24 de SEP., a las 10:30am
            </div>
           <div class="text-description">
                VIII Foro Nacional de Voluntariado y Responsabilidad Social
            </div>
                <div class="arrow-description d-flex j-content-fe">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
            <div class="card-event">
                <div class="img-card" [ngStyle]="{'background': 'url('+a+')'}">

                    <!-- <img  src="assets/img/eventos.png" alt=""> -->
                </div>
        
            <div class="description-card">
            <div class="hour-card">
                JUE., 24 de SEP., a las 10:30am
            </div>
           <div class="text-description">
                VIII Foro Nacional de Voluntariado y Responsabilidad Social
            </div>
                <div class="arrow-description d-flex j-content-fe">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
            <div class="card-event">
                <!-- getUrl() -->
                <div class="img-card" [ngStyle]="{'background': 'url('+a+')'}">

                    <!-- <img  src="assets/img/eventos.png" alt=""> -->
                </div>
        
            <div class="description-card">
            <div class="hour-card">
                JUE., 24 de SEP., a las 10:30am
            </div>
           <div class="text-description">
                VIII Foro Nacional de Voluntariado y Responsabilidad Social
            </div>
                <div class="arrow-description d-flex j-content-fe">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
            <div class="card-event">
                <div class="img-card" [ngStyle]="{'background': 'url('+a+')'}">

                    <!-- <img  src="assets/img/eventos.png" alt=""> -->
                </div>
        
            <div class="description-card">
            <div class="hour-card">
                JUE., 24 de SEP., a las 10:30am
            </div>
           <div class="text-description">
                VIII Foro Nacional de Voluntariado y Responsabilidad Social 
            </div>
            <div class="arrow-description d-flex j-content-fe">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
            <div class="card-event">
                <div class="img-card" [ngStyle]="{'background': 'url('+a+') no-repeat'}">

                    <!-- <img  src="assets/img/eventos.png" alt=""> -->
                </div>
        
            <div class="description-card">
            <div class="hour-card">
                JUE., 24 de SEP., a las 10:30am
            </div>
           <div class="text-description">
                VIII Foro Nacional de Voluntariado y Responsabilidad Social
            </div>
                <div class="arrow-description d-flex j-content-fe">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
            <div class="card-event">
                <div class="img-card" [ngStyle]="{'background': 'url('+a+')'}">

                    <!-- <img  src="assets/img/eventos.png" alt=""> -->
                </div>
        
            <div class="description-card">
            <div class="hour-card">
                JUE., 24 de SEP., a las 10:30am
            </div>
           <div class="text-description">
                VIII Foro Nacional de Voluntariado y Responsabilidad Social
            </div>
                <div class="arrow-description d-flex j-content-fe">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
            <div class="card-event">
                <div class="img-card" [ngStyle]="{'background': 'url('+a+')'}">

                    <!-- <img  src="assets/img/eventos.png" alt=""> -->
                </div>
        
            <div class="description-card">
            <div class="hour-card">
                JUE., 24 de SEP., a las 10:30am
            </div>
           <div class="text-description">
                VIII Foro Nacional de Voluntariado y Responsabilidad Social
            </div>
                <div class="arrow-description d-flex j-content-fe">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>

</div>
