<footer class="row">
    <div class="col-sm-1 col-md-1 d-flex j-content-center a-items-center">
        <img src="assets/img/logo/logo.png" alt="" width="46px">
    </div>
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-9 col-lg-offset-6 col-lg-5  d-flex j-content-se a-items-center">
        <div class="social-networks">
            <i class="fab fa-youtube"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
        <div class="phones-number d-flex">
            <div class="icon-phone">
                <i class="fas fa-phone-alt"></i>
                <span>+57 304 1271115</span>
            </div>
            <div class="icon-phone">
                <i class="fas fa-phone-alt"></i>
                <span>+57 304 1271115</span>
            </div>
        </div>
    </div>
</footer>