<div class="header-profile"  fxLayout="column">
    <br>
        <div class="info-center">
            <div class="img-profile">
                <img [src]='avatar' alt="">
            </div>
            <div class="icon-camera-profile">
                <i class="fas fa-camera"></i>
            </div>
            <div class="name-profile">
                <h2>{{name_user}}</h2>
            </div>
            <div class="icons-star d-flex j-content-sb">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>

        <div class="info-right">
                <div class="social-networks d-flex j-content-se a-items-center">
                    <div class="icon-ws d-flex j-content-center">
                        <i class="fab fa-whatsapp"></i>
                    </div>
                    <div class="icon d-flex j-content-center">
                        <div class="icons-items d-flex j-content-se a-items-center">
                            <i class="far fa-envelope"></i>
                        </div>
                    </div>
                    <div class="icon d-flex j-content-center">
                        <i class="fab fa-facebook-f"></i>
                    </div>
               
                    <div class="icon d-flex j-content-center">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
        </div>
</div>