<div class="row container-search">
    <mat-card class="card-search col-xs-12">
        <mat-card-header><b>Oficinas virtuales</b></mat-card-header>
        <div class="card-search-content d-flex j-content-sb a-items-center"> 
            <div class="img-text d-flex a-items-center">
                <img height="48px" src="assets/img/Foto-Ag70.png" alt="">
                <div class="description">
                    <b>Agropecuaria García</b>
                    <p>Barrio los Colores - Medellín</p>

                </div>
            </div>
           <div class="icon-plus">
            <i class="fas fa-plus"></i>
           </div>
        </div>
        <div class="card-search-content d-flex j-content-sb a-items-center"> 
            <div class="img-text d-flex a-items-center">
                <img height="48px" src="assets/img/Foto-Ag70.png" alt="">
                <div class="description">
                    <b>Agropecuaria García</b>
                    <p>Barrio los Colores - Medellín</p>

                </div>
            </div>
           <div class="icon-plus">
            <i class="fas fa-plus"></i>
           </div>
        </div>
        <div class="card-search-content d-flex j-content-sb a-items-center"> 
            <div class="img-text d-flex a-items-center">
                <img height="48px" src="assets/img/Foto-Ag70.png" alt="">
                <div class="description">
                    <b>Agropecuaria García</b>
                    <p>Barrio los Colores - Medellín</p>

                </div>
            </div>
           <div class="icon-plus">
            <i class="fas fa-plus"></i>
           </div>
        </div>
        <div class="card-search-content d-flex j-content-sb a-items-center"> 
            <div class="img-text d-flex a-items-center">
                <img height="48px" src="assets/img/Foto-Ag70.png" alt="">
                <div class="description">
                    <b>Agropecuaria García</b>
                    <p>Barrio los Colores - Medellín</p>

                </div>
            </div>
           <div class="icon-plus">
            <i class="fas fa-plus"></i>
           </div>
        </div>
    </mat-card>

    <mat-card class="card-search col-xs-12">
        <mat-card-header><b>Productos</b></mat-card-header>
        <div class="card-search-content d-flex j-content-sb a-items-center"> 
            <div class="img-text d-flex a-items-center">
                <img height="48px" src="assets/img/arroz.png" alt="">
                <div class="description-products">
                    <p>Fertilizante organico</p>
                    <b>25.000 COP</b>
                </div>
            </div>
        </div>
        <div class="card-search-content d-flex j-content-sb a-items-center"> 
            <div class="img-text d-flex a-items-center">
                <img height="48px" src="assets/img/arroz.png" alt="">
                <div class="description-products">
                    <p>Fertilizante organico</p>
                    <b>25.000 COP</b>
                </div>
            </div>
        </div>
     
    </mat-card>
</div>