<div class="row">
    <div class="col-xs-4">
        <div class="card">
            <mat-card-header><h2>Descripción</h2></mat-card-header>
            <div class="content-card">
                <p>
                    <b>brk SAS</b> es una Empresa Constructora y Agencia Inmobiliaria que ofrece todo tipo de servicios relacionados con la Construcción, administración, compra - venta de propiedad raíz, obra blanca y mantenimiento, contratación de obras, ingeniería, elaboración de planos, diseños arquitectónicos, y todo lo relacionado con obras de construcción.
                </p>
            </div>
        </div>
            </div>
    <div class="col-xs-8">
        <app-posts-office></app-posts-office>
    </div>
</div>
