<div fxLayout="row">
    <div fxFlex.gt-sm="40" fxHide.lt-md>
        <div class="card">
            <div><h2>Descripción</h2></div>
            <div class="content-card">
                <p>
                    <b>brk SAS</b> es una Empresa Constructora y Agencia Inmobiliaria que ofrece todo tipo de servicios relacionados con la Construcción, administración, compra - venta de propiedad raíz, obra blanca y mantenimiento, contratación de obras, ingeniería, elaboración de planos, diseños arquitectónicos, y todo lo relacionado con obras de construcción.
                </p>
            </div>
        </div>
            </div>
    <div fxFlex="100" fxFlex.gt-md="80">
        <app-posts-office></app-posts-office>
    </div>
</div>
