.policy-politics{
    mat-tab-group{
        font-size: 14px;
        text-align: justify;
        color:#2D2D2D;
    }
    .button{
        margin-top: 20px;
        width: 100%;
    button{
        width: 100%;
        color: white;
    }
    }
}
