@import './assets/style/theme.scss';
/* BACKGROUND AUTH */
.row-container {
  height: 100%;
}
.container-auth {
  background: url("assets/img/fondo/fondo-login.png") 0% 0% no-repeat
    padding-box;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
/* GRIDS */
.row {
  margin: 0;
}
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  max-height: max-content;
  position: absolute;
  font-family: "Raleway-Regular", sans-serif;
}

/* FONTS */
@font-face {
  font-family: "OpenSans-Light";
  src: url("assets/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("assets/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("assets/fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("assets/fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("assets/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("assets/fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-Black";
  src: url("assets/fonts/Raleway-Black.ttf");

}

/* DIALOGS */
.myapp-no-padding-dialog .mat-dialog-container {
  border-radius: 20px !important;
}

/* CARD */
.card{
  box-shadow: 0px 0px 5px #00000029;
    padding: 10px;
    border-radius: 20px;

}
