// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$publiguarne-app-primary: mat-palette($mat-indigo);
$publiguarne-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$publiguarne-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$publiguarne-app-theme: mat-light-theme(
  (
    color: (
      primary: $publiguarne-app-primary,
      accent: $publiguarne-app-accent,
      warn: $publiguarne-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($publiguarne-app-theme);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* BACKGROUND AUTH */
.container-auth {
  background: url("assets/img/fondo/fondo-login.png") 0% 0% no-repeat
    padding-box;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
/* GRIDS */
.row {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway-Regular', sans-serif;
}

/* FONTS */
@font-face {
  font-family: "OpenSans-Light";
  src: url("assets/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("assets/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("assets/fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("assets/fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("assets/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("assets/fonts/Raleway-SemiBold.ttf");
}
